.ui-icons-input-wrapper {
  display: flex;
}

.ui-icons-input-wrapper .ui-icons-select input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Claro and default */
.ui-icons-input-wrapper .form-item {
  margin-block: 0;
}

/* Keep the settings size close to textfield. */
.ui-icons-settings-wrapper {
  max-width: 39rem;
}

.ui-icons-preview-icon {
  display: flex;
  justify-content: center;
  height: 2.85rem;
  text-align: center;
}

.ui-icons-preview.form-item {
  min-width: 3rem;
  max-width: 3rem;
  border: var(--input-border-size) solid var(--input-border-color);
  border-right: 0 none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: var(--color-gray-050);
}

.ui-icons-preview-icon img,
.ui-icons-preview-icon svg {
  display: block;
  width: 2.5rem;
  margin: auto;
}
