parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Drupal\\\\Core\\\\Field\\\\FieldItemInterface\\:\\:\\$settings\\.$#"
			count: 1
			path: modules/ui_icons_field/src/Plugin/Field/FieldWidget/IconWidget.php

		-
			message: "#^Access to an undefined property Drupal\\\\Core\\\\Field\\\\FieldItemInterface\\:\\:\\$target_id\\.$#"
			count: 1
			path: modules/ui_icons_field/src/Plugin/Field/FieldWidget/IconWidget.php

		-
			message: "#^Method Drupal\\\\ui_icons_text\\\\Plugin\\\\Filter\\\\IconEmbed\\:\\:tips\\(\\) should return string\\|null but returns Drupal\\\\Core\\\\StringTranslation\\\\TranslatableMarkup\\.$#"
			count: 2
			path: modules/ui_icons_text/src/Plugin/Filter/IconEmbed.php

		-
			message: "#^Parameter \\#1 \\$selector of class Drupal\\\\Core\\\\Ajax\\\\ReplaceCommand constructor expects string, null given\\.$#"
			count: 1
			path: src/Element/IconAutocomplete.php

		-
			message: "#^Parameter \\#2 \\$content of class Drupal\\\\Core\\\\Ajax\\\\ReplaceCommand constructor expects array\\|string, Drupal\\\\Component\\\\Render\\\\MarkupInterface given\\.$#"
			count: 1
			path: src/Element/IconAutocomplete.php

		-
			message: "#^Call to an undefined method Drupal\\\\Core\\\\Form\\\\FormStateInterface\\:\\:getCompleteFormState\\(\\)\\.$#"
			count: 1
			path: src/Form/IconExtractorSettingsForm.php

		-
			message: "#^Call to an undefined method Drupal\\\\Component\\\\Plugin\\\\PluginInspectionInterface\\:\\:buildConfigurationForm\\(\\)\\.$#"
			count: 1
			path: src/PluginForm/IconPackExtractorForm.php

		-
			message: "#^Call to an undefined method Drupal\\\\Component\\\\Plugin\\\\PluginInspectionInterface\\:\\:submitConfigurationForm\\(\\)\\.$#"
			count: 1
			path: src/PluginForm/IconPackExtractorForm.php

		-
			message: "#^Call to an undefined method Drupal\\\\Component\\\\Plugin\\\\PluginInspectionInterface\\:\\:validateConfigurationForm\\(\\)\\.$#"
			count: 1
			path: src/PluginForm/IconPackExtractorForm.php
