includes:
  - phpstan-baseline.neon
parameters:
  level: 5
  excludePaths:
    analyseAndScan:
      - */node_modules/*
      - */vendor/*
      - */tests/*
      # Always fail because of missing link_attributes module.
      - */ui_icons_field_link_attributes/src/Plugin/Field/FieldWidget/IconLinkWithAttributesWidget.php
      - */ui_icons_patterns/src/Plugin/UiPatterns/PropType/IconPropType.php
      - */ui_icons_patterns/src/Plugin/UiPatterns/SettingType/IconSettingType.php
      - */ui_icons_patterns/src/Plugin/UiPatterns/Source/IconSource.php
  fileExtensions:
    - php
    - module
    - inc
    - install
    - theme
    - profile
  treatPhpDocTypesAsCertain: false
  inferPrivatePropertyTypeFromConstructor: true
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    # new static() is a best practice in Drupal, so we cannot fix that.
    - "#^Unsafe usage of new static#"
    - identifier: missingType.iterableValue
