parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Drupal\\\\Core\\\\Field\\\\FieldItemInterface\\:\\:\\$target_id\\.$#"
			count: 1
			path: modules/ui_icons_field/src/Plugin/Field/FieldWidget/IconWidget.php

		-
			message: "#^Attribute class Drupal\\\\ui_patterns\\\\Attribute\\\\Source does not exist\\.$#"
			count: 1
			path: modules/ui_icons_patterns/src/Plugin/UiPatterns/Source/IconRenderableSource.php

		-
			message: "#^Call to an undefined method Drupal\\\\ui_icons_patterns\\\\Plugin\\\\UiPatterns\\\\Source\\\\IconRenderableSource\\:\\:getSetting\\(\\)\\.$#"
			count: 1
			path: modules/ui_icons_patterns/src/Plugin/UiPatterns/Source/IconRenderableSource.php

		-
			message: "#^Parameter \\#1 \\$array of static method Drupal\\\\Component\\\\Utility\\\\NestedArray\\:\\:getValue\\(\\) is passed by reference, so it expects variables only\\.$#"
			count: 1
			path: modules/ui_icons_picker/src/Form/IconSelectForm.php

		-
			message: "#^Parameter \\#1 \\$array of static method Drupal\\\\Component\\\\Utility\\\\NestedArray\\:\\:setValue\\(\\) is passed by reference, so it expects variables only\\.$#"
			count: 1
			path: modules/ui_icons_picker/src/Form/IconSelectForm.php

		-
			message: "#^Parameter \\#2 \\$content of class Drupal\\\\Core\\\\Ajax\\\\AppendCommand constructor expects array\\|string, Drupal\\\\Component\\\\Render\\\\MarkupInterface given\\.$#"
			count: 1
			path: modules/ui_icons_picker/src/Form/IconSelectForm.php

		-
			message: "#^Parameter \\#2 \\$content of class Drupal\\\\Core\\\\Ajax\\\\ReplaceCommand constructor expects array\\|string, Drupal\\\\Component\\\\Render\\\\MarkupInterface given\\.$#"
			count: 1
			path: modules/ui_icons_picker/src/Form/IconSelectForm.php

		-
			message: "#^\\\\Drupal calls should be avoided in classes, use dependency injection instead$#"
			count: 1
			path: modules/ui_icons_picker/src/Form/IconSelectForm.php

		-
			message: "#^Method Drupal\\\\ui_icons_text\\\\Plugin\\\\Filter\\\\IconEmbed\\:\\:tips\\(\\) should return string\\|null but returns Drupal\\\\Core\\\\StringTranslation\\\\TranslatableMarkup\\.$#"
			count: 2
			path: modules/ui_icons_text/src/Plugin/Filter/IconEmbed.php

		-
			message: "#^Call to an undefined method Drupal\\\\Core\\\\Form\\\\FormInterface\\:\\:getEntity\\(\\)\\.$#"
			count: 1
			path: modules/ui_icons_text/ui_icons_text.module

		-
			message: "#^Parameter \\#1 \\$selector of class Drupal\\\\Core\\\\Ajax\\\\ReplaceCommand constructor expects string, null given\\.$#"
			count: 1
			path: src/Element/IconAutocomplete.php

		-
			message: "#^Parameter \\#2 \\$content of class Drupal\\\\Core\\\\Ajax\\\\ReplaceCommand constructor expects array\\|string, Drupal\\\\Component\\\\Render\\\\MarkupInterface given\\.$#"
			count: 1
			path: src/Element/IconAutocomplete.php

		-
			message: "#^Call to an undefined method Drupal\\\\Core\\\\Form\\\\FormStateInterface\\:\\:getCompleteFormState\\(\\)\\.$#"
			count: 1
			path: src/Form/IconExtractorSettingsForm.php

		-
			message: "#^Call to an undefined method Drupal\\\\Component\\\\Plugin\\\\PluginInspectionInterface\\:\\:buildConfigurationForm\\(\\)\\.$#"
			count: 1
			path: src/PluginForm/IconPackExtractorForm.php

		-
			message: "#^Call to an undefined method Drupal\\\\Component\\\\Plugin\\\\PluginInspectionInterface\\:\\:submitConfigurationForm\\(\\)\\.$#"
			count: 1
			path: src/PluginForm/IconPackExtractorForm.php

		-
			message: "#^Call to an undefined method Drupal\\\\Component\\\\Plugin\\\\PluginInspectionInterface\\:\\:validateConfigurationForm\\(\\)\\.$#"
			count: 1
			path: src/PluginForm/IconPackExtractorForm.php
