.icon-picker-modal__content .form-radios {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
  grid-gap: 8px;
}

@media (min-width: 480px) {
  .icon-picker-modal__content .form-radios {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (min-width: 600px) {
  .icon-picker-modal__content .form-radios {
    grid-template-columns: repeat(10, 1fr);
  }
}

@media (min-width: 768px) {
  .icon-picker-modal__content .form-radios {
    grid-template-columns: repeat(12, 1fr);
  }
}

@media (min-width: 1024px) {
  .icon-picker-modal__content .form-radios {
    grid-template-columns: repeat(16, 1fr);
  }
}

@media (min-width: 1440px) {
  .icon-picker-modal__content .form-radios {
    grid-template-columns: repeat(24, 1fr);
  }
}

@media (min-width: 1620px) {
  .icon-picker-modal__content .form-radios {
    grid-template-columns: repeat(28, 1fr);
  }
}

.icon-picker-modal__content .icon-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: var(--color-gray-050);
}

.icon-picker-modal__content .icon-preview:hover {
  transition: background-color 100ms linear;
  background-color: var(--color-gray-300);
}

.icon-library-widget-modal .ui-dialog-buttonpane,
.icon-picker-modal__content .hidden {
  display: none;
}

.icon-picker-modal__content .form-boolean-group .form-type--boolean {
  margin-block: 0;
  margin-inline-start: 0;
}
