.ui-icons-library-search > div {
  display: inline-block;
}

.ui-icons-library-search div.ui-icons-wrapper {
  display: block;
}

.ui-icons-library-search .form-submit {
  margin-left: 1rem;
}

.ui-icons-grid {
  display: grid;
  grid-gap: 6px;
  margin: 6px 0;
}

@media (min-width: 480px) {
  .ui-icons-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 600px) {
  .ui-icons-grid {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (min-width: 768px) {
  .ui-icons-grid {
    grid-template-columns: repeat(10, 1fr);
  }
}

@media (min-width: 1024px) {
  .ui-icons-grid {
    grid-template-columns: repeat(14, 1fr);
  }
}

@media (min-width: 1440px) {
  .ui-icons-grid {
    grid-template-columns: repeat(18, 1fr);
  }
}

.ui-icons-item {
  position: relative;
  overflow: hidden;
  padding: 0.2rem;
  border: 1px solid #f7f7f7;
  border-radius: 5px;
  background-color: #f7f7f7;
  box-shadow: 2px 2px 2px 1px rgb(0, 0, 0, 0.2);
}

.ui-icons-item-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;
}

.icon-preview-wrapper {
  height: 3rem;
}

.icon-preview-wrapper > svg,
.icon-preview-wrapper > img {
  display: block;
  max-width: 2.8rem;
  max-height: 2.8rem;
  margin: auto;
  text-align: center;
  line-height: 2.8rem;
}

.ui-icons-item-name {
  overflow: hidden;
  max-width: 100%;
  padding: 0.2rem 0 0;
  white-space: nowrap;
  text-transform: capitalize;
  text-overflow: ellipsis;
  font-size: 11px;
  line-height: 12px;
}
